section{
    width: 100%;
    height: 200vh;
    background-color: #121831 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.post_content {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: fit-content;
    padding: 0 330px;
}

.post {
    width: 70%;
    
    background-color: #18203E;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 20px;
}



.post_titles {
    color: white;
    font-size: 26px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}



.Post-p {
    color: #c3c5cd;
    

}








@media screen and (max-width: 1400px) {
 .Reclamone {
    width: 100%;
 }
    .post {
    width: 100%;
  }
  
}
@media screen and (max-width: 1200px) {
 .post_content{
    padding: 0 260px;
 }
  
}
@media screen and (max-width: 1000px) {
 .post_content{
    padding: 0 50px;
 }
  
}
@media screen and (max-width: 600px) {
 .post_content{
    padding: 0 25px;
 }
  
}