@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('/src/assets/bpg_nino_mtavruli_normal.otf') format('opentype');
}
body {
  font-family: 'BPG Nino Mtavruli', sans-serif;
   overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 
}

.contiaenr {
  width: 100%;
  height: fit-content;
  background-color: #121831 !important;;
  display: flex;
  flex-direction: column;
}

/* ჰამბურგერი */
.hamburger-menu {
  display: none; /* შეგიძლიათ გაააქტიუროთ პატარა ეკრანებისთვის ან რეზოლუციით */
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  gap: 5px;
}



/* Dropdown სტილი */
/* Dropdown სტილი */
.dropdown-menu {
  background-color: white;
  border-top: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  position: relative; /* დაამატე ამისათვის */
  z-index: 999; /* დარწმუნდით, რომ მენიუ მაღლა იქნება */
}

.hamburger-menu .bar {
  height: 4px;
  width: 100%;
  margin-bottom: 7px;
  background-color: #ffffff; /* ჰამბურგერის ზოლების ფერი */
  border-radius: 2px;
  transition: all 0.3s ease; /* ტრანზიცია უკეთესი ეფექტისთვის */
}

.hamburger-menu:hover .bar {
  background-color: #555; /* თუ ვჰოვერს გავაკეთებთ, შეცვლით ფერს */
}

/* რეკალმა 1 */

.Reclam_one {
 max-width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 padding: 10px;

}

/* Header */

.header {
  width: 100%;
  height: 70px;
  background-color: #18203E;
  justify-content: center;
  align-items: center;

  
}

.cheaild_contents {
  gap: 39%;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
 justify-content: center;
}

.menu > ul {
  display: flex;
  gap: 20px;

}
.menu > ul > li {
  font-size: 20px;
  color: white;

}

/* Content */

.content_contaienr {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* optional */
  
}


/* maincontet */

.Maincontent {
  width: 100%;
  height: fit-content;
  background-color: #18203E;
  border-radius: 20px;
  
}